/* --> Imports <-- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&family=Roboto:wght@300&display=swap");

/* --> Variables <-- */
:root {
  /* Primary Palette */
  --red: #e63946;
  --skyblue: #8da8bd;
  --darkblue: #1d3557;
  /* Secondary Palette */
  --blue: #457b9d;
  --grey: #404e5c;
  --black: #161d23;
}

/* --> Defaults <-- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

/* --> Setup <-- */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--black);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: white;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: white;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 16px;
  color: white;
}

p,
input[type="text"],
input[type="submit"],
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 26px;
  color: white;
  opacity: 0.7;
}

a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 80px 100px;
}

/* --> Header <-- */
header {
  background: var(--black);
  width: 100%;
  padding: 8px 50px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
/* Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.logo h1 {
  font-size: 30px;
  font-weight: 400;
  margin-left: 10px;
  cursor: pointer;
}
/* Nav */
header nav ul {
  display: flex;
}

header nav ul li {
  margin: 0 25px;
  list-style-type: none;
}

header nav ul li:last-child {
  margin-right: 0;
}

/* --> Banner <-- */
#banner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      0deg,
      rgba(230, 57, 70, 0.8),
      rgba(230, 57, 70, 0.8)
    ),
    url(../images/background.jpg);
  background-blend-mode: color, normal;
  background-position: center;
  background-size: cover;
}

/* Title */
.title {
  position: relative;
  text-align: center;
  padding: 20px 60px;
  border-radius: 2rem;
  filter: drop-shadow(4px 4px 4px var(--black));
  background: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(2px);
  cursor: default;
  transition: 0.5s;
}

.title:hover {
  transform: scale(1.1);
}

/* --> About <-- */
#about .container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

#about p {
  text-align: left;
}

#about .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 70vh;
  padding: 0 100px;
}

#about .box:first-child {
  background: var(--darkblue);
}

#about .box:nth-child(2) {
  background: url(../images/alexander-smagin-F238e9oGQqQ-unsplash.jpg);
  background-size: cover;
}

#about .box:nth-child(3) {
  background: url(../images/andre-benz-MsMISAIe8Qw-unsplash.jpg);
  background-size: cover;
}

#about .box:last-child {
  background: var(--red);
}
/* Background */
.bg {
  width: 100%;
  height: 400px;
  background: url(../images/arc.jpg);
  background-size: cover;
  background-position: center 35%;
}

/* --> Guide <-- */

.container h2,
.container p {
  text-align: center;
}
/* Master Box */
.master-box {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#guide .master-box .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 30px;
  cursor: pointer;
  overflow: hidden;
}

.master-box .box .middle {
  position: relative;
  width: 100%;
  bottom: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  background: var(--red);
}

.master-box .box:hover .middle {
  height: 100%;
  bottom: 0%;
}

.master-box .box .middle img {
  width: 70px;
  height: 70px;
}

#guide h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  margin-top: 15px;
}
/* Master Box - Background */
#box1 {
  background: linear-gradient(0deg, #404e5c, #404e5c),
    url(../images/culture.jpg);
  background-blend-mode: color, normal;
  background-size: cover;
}
#box2 {
  background: linear-gradient(0deg, #404e5c, #404e5c), url(../images/nature.jpg);
  background-blend-mode: color, normal;
  background-position: center 25%;
  background-size: 400%;
}
#box3 {
  background: linear-gradient(0deg, #404e5c, #404e5c),
    url(../images/tourism.jpg);
  background-blend-mode: color, normal;
  background-position: 70% 55%;
  background-size: 170%;
}
#box4 {
  background: linear-gradient(0deg, #404e5c, #404e5c),
    url(../images/culinary.jpg);
  background-blend-mode: color, normal;
  background-position: center;
  background-size: cover;
}
#box5 {
  background: linear-gradient(0deg, #404e5c, #404e5c),
    url(../images/monument.jpg);
  background-blend-mode: color, normal;
  background-position: center;
  background-size: 150%;
}
#box6 {
  background: linear-gradient(0deg, #404e5c, #404e5c),
    url(../images/tecnology.jpg);
  background-blend-mode: color, normal;
  background-position: 65% center;
  background-size: 200%;
}

/* --> Packages <-- */
#packages {
  background: var(--red);
}

#packages .master-box {
  justify-content: space-between;
}

#packages .master-box .box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  transition: 0.5s;
  cursor: pointer;
}

#packages .master-box .box:hover {
  transform: scale(1.2);
}

#packages .box img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  cursor: pointer;
}

#packages .bg {
  height: 500px;
  background: url(../images/tianshu-liu-khQY5Eu-aa0-unsplash.jpg);
  background-size: cover;
  background-position: center 40%;
}

/* -->Contact <-- */
#contact {
  background: var(--darkblue);
}

#contact .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
}

#contact .box {
  width: 45%;
}

#contact .box h2,
#contact .box p {
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input[type="text"],
.form textarea {
  margin-bottom: 15px;
  border-radius: 1.5rem;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  background: #fff;
  color: var(--black);
  border: none;
  cursor: text;
}

.form textarea {
  resize: vertical;
  width: 100%;
  height: 100px;
}

.form input[type="submit"] {
  width: 150px;
  align-self: flex-end;
  border-radius: 1.5rem;
  padding: 10px 15px;
  font-size: 14px;
  letter-spacing: 1px;
  background: var(--black);
  color: #fff;
  border: none;
  transition: 0.5s;
}

.form input[type="submit"]:hover {
  background: var(--red);
}

/* --> Footer <--*/
footer {
  background: var(--black);
  padding: 5px 100px;
}

footer p {
  text-align: center;
  font-size: 12px;
}
